
@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/header.css"/>

<div class="header">
    <div class="container">
        <div class="top-bar">
            <!-- Logo -->
            <a class="logo" asp-controller="Home" asp-action="Index">
                <img src="~/assets/icons/logo.svg" alt="" class="logo__img"/>
                <h1 class="logo__title">gocerymart</h1>
            </a>

            <!-- Navbar -->
            <nav class="navbar">
                <ul class="navbar__list">
                    <li>
                        <a href="" class="navbar__link"
                        >Departments<img
                                src="~/assets/icons/arrow-down.svg"
                                alt=""
                                class="navbar__arrow"
                            /></a>
                    </li>
                    <li>
                        <a href="" class="navbar__link"
                        >Grocery
                            <img
                                src="~/assets/icons/arrow-down.svg"
                                alt=""
                                class="navbar__arrow"
                            />
                        </a>
                    </li>
                    <li>
                        <a href="" class="navbar__link"
                        >Beauty
                            <img
                                src="~/assets/icons/arrow-down.svg"
                                alt=""
                                class="navbar__arrow"
                            />
                        </a>
                    </li>
                </ul>
            </nav>

            <!-- Action -->
            <div class="top-act">
                <div class="top-act__group top-act__group--single">
                    <button class="top-act__btn">
                        <img src="~/assets/icons/search.svg" alt="" class="top-act__icon"/>
                    </button>
                </div>

                <div class="top-act__group">
                    <button class="top-act__btn">
                        <img src="~/assets/icons/heart.svg" alt="" class="top-act__icon"/>
                        <span class="top-act__title">0</span>
                    </button>

                    <div class="top-act__separate"></div>

                    <a asp-controller="Checkout" asp-action="Index">
                        <button class="top-act__btn">
                            <img src="~/assets/icons/buy.svg" alt="" class="top-act__icon"/>
                            <span class="top-act__title">0</span>
                        </button>
                    </a>
                </div>

                <div class="top-act__user">
                    <a asp-controller="Profile" asp-action="Index">
                        <img src="~/assets/img/avatar.jpg" alt="" class="top-act__avatar"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
