.logo {
    display: flex;
    align-items: center;
    gap: 14px;
}

.logo__title {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 145.455%;
}

.footer {
    margin-top: 30px;
    padding: 30px 90px;
    font-size: 1.4rem;
    background: #eee;
}

.footer__row {
    display: grid;
    grid-template-columns: 2fr 1.3fr 1fr 1fr 1.5fr;
    gap: 60px;
}

.footer__desc {
    margin-top: 30px;
    line-height: 1.5;
}

.footer__help-text {
    margin-top: 40px;
    line-height: 1.4;
}

.footer__heading {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.8rem;
}

ul.footer__list {
    padding: 0;
    list-style: none;
}

.footer__list {
    margin-top: 18px;
    padding: 0;
}

.footer__link,
.footer__text {
    padding: 8px 0;
    line-height: 1.4;
}

.footer__link {
    display: inline-block;
}

.footer__link:hover {
    color: #0071dc;
}

.footer__text,
.footer__copyright {
    color: #1a162e;
}

.footer__label {
    margin-top: 20px;
    font-weight: 500;
}

.footer__form {
    display: flex;
    gap: 10px;
    padding: 16px 0;
}

.footer__input {
    width: 100%;
    padding: 8px 12px;
    border-radius: 6px;
    border: 2px solid #d2d1d6;
    font-size: 1.5rem;
    font-weight: 500;
}

.footer__input::placeholder {
    font-weight: 400;
}

.footer__bottom {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__socials {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    filter: grayscale(50%);
    transition: translate, filter;
    transition-duration: 0.3s;
}

.footer__social-link--facebook {
    background: #4863a9;
}

.footer__social-link--youtube {
    background: #f00;
}

.footer__social-link--tiktok {
    background: #000;
}

.footer__social-link--twitter {
    background: #4999e6;
}

.footer__social-link--linkedin {
    background: #2f71ab;
}

.footer__social-link:hover {
    filter: grayscale(0);
    translate: 0 -3px;
}

.footer__social-icon {
    width: 14px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7482%) hue-rotate(72deg) brightness(99%) contrast(99%);
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 44px;
    padding: 0 20px;
    border-radius: 6px;
    background: #f8f8fb;
    font-size: 1.6rem;
    font-weight: 500;
    white-space: nowrap;
    user-select: none;
}

.btn--primary {
    color: #171c28;
    background: #ffb700;
}

.btn--primary:hover {
    background: #ffa500;
}