.logo {
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
}

.logo__title {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 145.455%;
}

.header {
    background-color: #eee;
    padding: 0 40px;
}

.top-bar {
    display: flex;
    align-items: center;
    padding: 30px 0;
}

.navbar {
    margin-left: 144px;
    margin-right: auto;
}

.navbar__list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar__link {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
    display: flex;
    align-items: center;
    gap: 6px;
}

.navbar__arrow {
    margin-top: 3px;
}

.top-act {
    display: flex;
    align-items: center;
    gap: 20px;
}

.top-act__group {
    display: flex;
    align-items: center;
    min-width: 50px;
    height: 50px;
    border-radius: 8px;
    background: var(--Secondary-Color-Background, #fff);
    box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
}

.top-act__group--single .top-act__btn {
    padding: 13px;
}

.top-act__btn {
    padding: 13px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.top-act__title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
}

.top-act__separate {
    width: 1px;
    height: 30px;
    background-color: #ededf6;
}

.top-act__user {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
}

.top-act__avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.top-act__user:hover .act-dropdown {
    display: block;
}

.act-dropdown {
    position: absolute;
    top: 80px;
    right: -60px;
    width: min(500px, 100vw);
    padding-top: 28px;
    display: none;
    z-index: 2;
}

.top-act__dropdown {
    right: 16px !important;
    width: min(300px, 100vw) !important;
}

.act-dropdown__inner {
    position: relative;
    padding: 30px;
    border-radius: 20px;
    background: #F4F4F4;
    box-shadow: 0 40px 90px 20px rgba(200, 200, 200, 0.4);
}

.act-dropdown__arrow {
    position: absolute;
    top: -17px;
    right: 90px;
    height: 20px;
    width: 52px;
    filter: brightness(90%) contrast(110%);
}

.top-act__dropdown-arrow {
    right: 24px !important;
}

.user-menu__top {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-menu__avatar {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    object-fit: cover;
}

.user-menu__name {
    margin-bottom: 8px;
    font-size: 1.8rem;
    font-weight: 600;
}

.user-menu__list {
    margin-top: 30px;
}

.user-menu__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 14px 0;
}

.user-menu__separate {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #d2d1d6;
}