.checkout-container {
    margin-top: 128px;
    padding: 0 89px;
}

.checkout-container .row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 40px;
}

.checkout-container .row .left {
    width: 62%;
}

.checkout-container .row .right {
    width: 38%;
}

.right .cart-info__row span {
    margin-left: 0;
}

.right .cart-info__separate {
    margin: 30px 0;
    width: 100%;
}

.cart-info {
    padding: 30px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
}

.cart-info__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.cart-info__back-arrow {
    width: 50px;
    padding-right: 20px;
    position: relative;
    top: 4px;
}

.cart-info__heading {
    display: flex;
    align-items: center;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 141.667%;
}

.cart-info__separate {
    margin: 30px 0;
    height: 1px;
    background: #d2d1d6;
}

.user-address__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.user-address__title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
}

.user-address__desc {
    margin-top: 4px;
    font-size: 1.5rem;
    line-height: 146.667%;
}

.address-card {
    display: flex;
    margin-top: 30px;
    gap: 16px;
}

.address-card__left {
    flex: 1;
    display: flex;
    gap: 16px;
}

.cart-info__checkbox-input {
    appearance: none;
    padding-top: 4px;
}

.cart-info__checkbox-input:checked::before {
    content: url(../assets/icons/checkbox-checked.svg);
}

.cart-info__checkbox-input::before {
    content: url(../assets/icons/checkbox-uncheck.svg);
}

.address-card__ctrl {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.cart-info__edit-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.8rem;
    line-height: 144.444%;
}

.cart-info__sub-heading {
    margin: 30px 0;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
}

.cart-info__desc {
    margin-top: 6px;
    font-size: 1.5rem;
    line-height: 146.667%;
}

.cart-info__form {
    margin-bottom: 30px;
}

.cart-info__list {
    margin-top: -30px;
}

.cart-info__bottom {
    margin-top: 30px;
}

.cart-info__row,
.cart-info__continue-link {
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
}

.cart-info__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.cart-info__row span {
    margin-left: 120px;
}

.cart-info__row--bold {
    font-size: 2.2rem;
    font-weight: 700;
}

.cart-info__continue {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.cart-info__continue-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-info__continue-icon {
    rotate: 90deg;
    transition: translate 0.3s;
}

.cart-info__continue-link:hover .cart-info__continue-icon {
    translate: -5px;
}

.cart-info__sub-label {
    font-weight: 400;
}

.cart-info__next-btn {
    margin-top: 30px;
}

.cart-info__edit-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.8rem;
    line-height: 144.444%;
}

.cart-info__form-row {
    flex-direction: row;
    gap: 20px;
}

.cart-info__check-all {
    margin: 30px 0;
}

.cart-info + .cart-info {
    margin-top: 30px;
}

.cart-item {
    display: flex;
    padding: 30px 0;
    border-bottom: 1px solid #d2d1d6;
}

.cart-item__thumb {
    width: 172px;
    height: 172px;
    margin: 0 30px 0 20px;
    object-fit: contain;
}

.cart-item__content {
    flex: 1;
    display: flex;
    align-self: flex-start;
}

.cart-item__content-left {
    flex: 1;
}

.cart-item__content-right {
    display: flex;
    flex-direction: column;
}

.cart-item__title {
    max-width: 374px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
}

.cart-item__price-wrap {
    margin: 16px 0;
    color: #9e9da8;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
}

.cart-item__status {
    color: #67b044;
}

.cart-item__ctrl-wrap {
    display: flex;
    align-items: center;
    gap: 30px;
}

.cart-item__ctrl {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: auto;
    min-height: 44px;
}

.cart-item__input {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 44px;
    padding: 0 20px;
    border-radius: 10px;
    border: 1px solid #d2d1d6;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
}

.cart-item__input-btn {
    display: flex;
    cursor: pointer;
}

.cart-item__total-price {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 145.455%;
    text-align: right;
}

.cart-item__ctrl-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #9e9da8;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;
}

.cart-item__ctrl-btn:first-child {
    margin-right: 10px;
}

.cart-item__checkout-btn {
    margin-top: auto;
}

.gift-item {
    display: flex;
    gap: 20px;
}

.gift-item__icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;
    width: 76px;
    height: 76px;
    border-radius: 14px;
    background: rgba(118, 68, 225, 0.1);
    box-shadow: 0px 20px 60px 10px var(--checkout-gift-shadow);
}

.gift-item__title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
}

.gift-item__desc {
    margin-top: 10px;
    font-size: 1.4rem;
    line-height: 142.857%;
}

.user-address__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.user-address__title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
}

.user-address__desc {
    margin-top: 4px;
    font-size: 1.5rem;
    line-height: 146.667%;
}

.user-address__message {
    margin-top: 30px;
    font-weight: 500;
}

.user-address__link {
    color: #0071dc;
}

.address-card {
    display: flex;
    margin-top: 30px;
    gap: 16px;
}

.address-card__left {
    flex: 1;
    display: flex;
    gap: 16px;
}

.address-card__title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
}

.address-card__desc {
    width: min(520px, 90%);
    margin-top: 4px;
    font-size: 1.5rem;
    line-height: 146.667%;
}

.address-card__list {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    list-style: disc inside;
    font-size: 1.4rem;
    line-height: 142.857%;
}

.address-card__list-item {
    margin-left: 8px;
}

.address-card__ctrl {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.payment-item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
    background: var(--checkout-payment-item-bg);
}

.payment-item--pointer {
    cursor: pointer;
}

.payment-item__thumb {
    width: 70px;
    height: 54px;
    object-fit: cover;
}

.payment-item__content {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;
}

.payment-item__info {
    flex: 1;
}

.payment-item__title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
}

.payment-item__desc,
.payment-item__detail {
    font-size: 1.5rem;
    line-height: 146.667%;
}

.payment-item__desc {
    margin-top: 4px;
}

.payment-item__detail {
    margin-right: -8px;
    padding: 8px;
    color: #0071dc;
}

.payment-item__checkbox {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 14px;
}

.payment-item__checkbox-input:checked + .payment-item__cost {
    color: inherit;
}

.payment-item__cost {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
    color: #9e9da8;
}

.cart-row {
    display: flex;
    justify-content: space-between;
}

.btn--primary {
    color: #171c28;
    background: #ffb700;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 46px;
    padding: 0 90px;
    border-radius: 6px;
    font-size: 1.8rem;
    font-weight: 500;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
}

.btn--rounded {
    border-radius: 99px;
}

.btn--primary {
    color: #171c28;
    background: #ffb700;
}

.btn--small {
    height: 40px;
}

.btn:focus {
    box-shadow: none;
}