* {
  padding: 0;
  margin: 0;
    box-sizing: border-box;
}

:root {
  --text-color: #1a162e;
}


html {
  font-size: 62.5%;
}

body {
  font-family: Gordita, sans-serif;
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: #f6f6f6;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

ol,
ul {
  list-style: none;
}