
@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true">


<main class="auth">
    <div class="auth__intro">
        <img src="~/assets/img/intro.svg" alt="">
    </div>
    <div class="auth__content">
        <div class="auth__content--inner">
            <app-logo></app-logo>
            <h1 class="auth__title">Welcome Back!</h1>
            <p class="auth__desc">Sign in to access your saved information and continue your journey with us.</p>
            <div class="form">
                <div class="form__group">
                    <div class="form__text">
                        <input type="email" placeholder="Email Address" autocomplete="off">
                        <img src="~/assets/icons/mail.svg" alt="">
                    </div>
                </div>
                <div class="form__group">
                    <div class="form__text">
                        <input type="password" placeholder="Password" autocomplete="off">
                        <img src="~/assets/icons/lock.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="form__checkbox">
                    <input type="checkbox" class="form__checkbox-input">
                    <span class="form__checkbox-label">Remember Me</span>
                </label>
                <a href="#" class="auth__link">Forgot Password?</a>
            </div>
            <button class="btn">Sign In</button>
            <button class="btn-google">
                <img class="img-google" src="~/assets/icons/google.svg" alt="">
                Sign In with Google
            </button>
            <p class="auth__text">
                Don’t have an account yet? <span>Create one</span>.
            </p>
        </div>
    </div>
</main>
